################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Helloworld/FileContentIndex
/.vs/Helloworld/v17
